<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/search.css') }}" rel="stylesheet">
    <title>Document</title>
</head>
<body>


    <div class="main-search-input-wrap">


        <div class="main-search-input fl-wrap">
            <div class="main-search-input-item">
                <form method="post">
                <input type="text" name="value" id="value" placeholder="Search Article...">
                </form>
            </div>

            <button class="main-search-button">Search</button>
        </div>


    </div>


</body>
</html>